
__pycache__/
*.pyc
*.pyo
*.pyd

code/checkpoints/*
code/model_output/*
code/data/assignment_rl/*
code/data/assignment_sft/*
code/data/grammar_rl/*
code/data/grammar_sft/*
code/data/data_preprocess/filter1/*
code/data/data_preprocess/filter2/*
code/data/data_preprocess/filter3/*
code/data/data_preprocess/filter4/*
code/data/data_preprocess/filter5/*
code/data/data_preprocess/original_data/*
code/data/data_preprocess/utils/*
code/data/test/*
code/models/*
code/outputs/*
code/wandb/*
code/reward_model/data/*